

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 750px!important;
    }
}

.member {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 85px;
    text-align: center;
}

.member img {
    clip-path: circle(37px at center);
    filter: grayscale(1);
    opacity: 0.5;
}

.member img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.member.pi .name {
    font-weight: bold;
}

.member .name {
}

.member .inst {
    color: var(--bs-secondary-color) !important;;
}

.institutions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2em;
}

.institutions .institution {
    margin: 0.2em 1em;
}

.institutions img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.institutions img {
    filter: grayscale(1);
    opacity: 0.5;
}

.institutions .name {
    display: none;
}